h1 {
    color: red;
    font-size: 52px;
    text-align: center;
}

h2 {
    font-size: 38px;
    color: blue;
    text-align: center;
}

p {
    text-align: center;
}

p, li {
    font-size: 27px;
}
ul, ol li {
    text-align: justify;
    margin: 30px;
}

img {
    width: 1890px;
    height: 900px;
}

ul a {
    text-decoration: none;
}

.menu li {
    text-align: center;
    font-size: 40px;
    padding: 40px;
    padding-top: 40px;
    list-style: none;
}
